<a href="https://colab.research.google.com/github/rizzaesh/Thesis---a-two-layer-power-network/blob/main/intro_with_pandapower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandapower

Collecting pandapower
  Downloading pandapower-2.8.0.zip (5.9 MB)
     |████████████████████████████████| 5.9 MB 3.6 MB/s
Requirement already satisfied: pandas>=0.17 in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.3.5)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.7/dist-packages (from pandapower) (2.6.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.4.1)
Requirement already satisfied: numpy>=0.11 in /usr/local/lib/python3.7/dist-packages (from pandapower) (1.21.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pandapower) (21.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17->pandapower) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17->pandapower) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17->pandapower) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pandapower) (3.0.7)
Building wheels for collected packages: pandapower
  Building wheel for pandapower (setup.py) ... done
  Created wheel for pandapower: filename=pandapower-2.8.0-py3-none-any.whl size=5881019 sha256=ace5f5abb8dc532ba8c5ab6a3098f02c421326a1262f6c76809ee0f439bf7253
  Stored in directory: /root/.cache/pip/wheels/8a/ce/91/cb5881926915c6c131434bde7bb43a9f9e1c7a54951ebd3dee
Successfully built pandapower
Installing collected packages: pandapower
Successfully installed pandapower-2.8.0

In [2]:
import pandapower as pp

In [3]:
net = pp.create_empty_network(name="power")

In [4]:
net

This pandapower network includes the following parameter tables:

In [17]:
pp.create_bus(net=net,name='bus1',vn_kv=-1)

5

In [11]:
net

This pandapower network includes the following parameter tables:
   - bus (4 elements)

In [30]:
pp.create_line(net=net,from_bus=3,to_bus=5,length_km=1,std_type='NAYY 4x50 SE')

7

In [38]:
pp.create_load(net=net,bus=5,p_mw=2)

5

In [52]:
net

This pandapower network includes the following parameter tables:
   - bus (6 elements)
   - load (6 elements)
   - motor (1 element)
   - gen (3 elements)
   - line (8 elements)
 and the following results tables:
   - res_bus (6 elements)
   - res_line (8 elements)
   - res_load (6 elements)
   - res_motor (1 element)
   - res_gen (1 element)

In [43]:
pp.create_motor(net=net, bus=0, pn_mech_mw=1,cos_phi=0.9)

0

In [54]:
pp.create_gen(net=net,bus=3,p_mw=4,slack=True)

3

In [61]:
pp.rundcpp(net=net)

Empty DataFrame
Columns: [p_hv_mw, q_hv_mvar, p_lv_mw, q_lv_mvar, pl_mw, ql_mvar, i_hv_ka, i_lv_ka, vm_hv_pu, va_hv_degree, vm_lv_pu, va_lv_degree, loading_percent]
Index: []

In [62]:
import pandapower.networks as pn

In [63]:
Net = pn.case118()

In [65]:
pp.rundcpp(net=Net)

In [72]:
Net

This pandapower network includes the following parameter tables:
   - bus (118 elements)
   - load (99 elements)
   - gen (53 elements)
   - shunt (14 elements)
   - ext_grid (1 element)
   - line (173 elements)
   - trafo (13 elements)
   - poly_cost (54 elements)
   - bus_geodata (118 elements)
 and the following results tables:
   - res_bus (118 elements)
   - res_line (173 elements)
   - res_trafo (13 elements)
   - res_ext_grid (1 element)
   - res_load (99 elements)
   - res_shunt (14 elements)
   - res_gen (53 elements)

In [98]:
X[2]

Empty DataFrame
Columns: [name, bus, p_mw, q_mvar, sn_mva, scaling, in_service, type, current_source]
Index: []

In [ ]:
net.values()

In [143]:
y = list(net.values())

In [145]:
y[64].describe()

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
count,8.000000,8.0,8.000000,8.0,8.0,8.0,8.000000,8.000000,8.000000,8.0,8.000000,8.0,8.000000,8.000000
mean,1.850000,0.0,-1.850000,0.0,0.0,0.0,0.197261,-0.781027,0.197261,1.0,0.396296,1.0,0.287681,138.916438
std,3.649266,0.0,3.649266,0.0,0.0,0.0,0.162569,1.205600,0.162569,0.0,0.168706,0.0,0.132066,114.484977
min,-4.900000,0.0,-8.100000,0.0,0.0,0.0,0.006415,-2.829016,0.006415,1.0,0.000000,1.0,0.000000,4.517608
25%,0.475000,0.0,-3.125000,0.0,0.0,0.0,0.105848,-1.804220,0.105848,1.0,0.432990,1.0,0.287681,74.540528
50%,2.300000,0.0,-2.300000,0.0,0.0,0.0,0.182828,-0.237355,0.182828,1.0,0.475555,1.0,0.287681,128.751821
75%,3.125000,0.0,-0.475000,0.0,0.0,0.0,0.232544,0.046509,0.232544,1.0,0.475555,1.0,0.331714,163.763281
max,8.100000,0.0,4.900000,0.0,0.0,0.0,0.519615,0.519615,0.519615,1.0,0.475555,1.0,0.469684,365.926227

In [141]:
X[64]

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,-11.766082,0.0,11.766082,0.0,0.0,0.0,0.051545,0.049226,0.051545,0.955,14.706511,1.00,15.379984,0.124450
1,-39.233918,0.0,39.233918,0.0,0.0,0.0,0.171877,0.164143,0.171877,0.955,14.706511,1.00,15.659637,0.414976
2,-103.794382,0.0,103.794382,0.0,0.0,0.0,0.435115,0.434244,0.435115,0.998,19.458123,1.00,19.932692,1.050529
3,-69.054517,0.0,69.054517,0.0,0.0,0.0,0.288903,0.288903,0.288903,1.000,15.659637,1.00,19.932692,0.697520
4,87.176321,0.0,-87.176321,0.0,0.0,0.0,0.364719,0.368403,0.368403,1.000,19.932692,0.99,17.235481,0.889464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,21.416899,0.0,-21.416899,0.0,0.0,0.0,0.092564,0.089602,0.092564,0.968,18.795034,1.00,17.885754,0.223484
169,0.583101,0.0,-0.583101,0.0,0.0,0.0,0.002440,0.002440,0.002440,1.000,17.889229,1.00,17.885754,0.005890
170,20.000000,0.0,-20.000000,0.0,0.0,0.0,0.084519,0.083674,0.084519,0.990,16.501142,1.00,14.896860,0.204061
171,36.206491,0.0,-36.206491,0.0,0.0,0.0,0.151477,0.151477,0.151477,1.000,23.263347,1.00,22.265522,0.365722
172,-3.206491,0.0,3.206491,0.0,0.0,0.0,0.014226,0.013415,0.014226,0.943,22.165580,1.00,22.265522,0.034347